<!-- alienescape.handlebars -->
<style>
html,body {
    margin:0;
    padding:0;
}
header {
  text-align: center;
  background: url('https://static.pexels.com/photos/515341/pexels-photo-515341.jpeg');
  background-size: cover;
}
img {
  align-self: center;
  max-width: 200px;
  margin: 40px 0px 0px 0px;
  border-radius: 35px;
}
ul {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  background-size: cover;
}
li {
  font-family: 'Lato', Helvetica, sans-serif;
  color: white;
  line-height: 1.5;
  padding: 0px 10px 0px 10px;
  display: inline;
}
h1 {
  font-family: 'Lato', Helvetica, sans-serif;
  color: white;
  line-height: 1.5;
}
a {
  font-family: 'Lato', Helvetica, sans-serif;
  color: white;
  line-height: 1.5;
}
/*.menuBar {
  position: fixed;
  margin-top:-100px;
}*/
h4 {
  font-size: 900px;
}
</style>
<body>
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <img src="http://is1.mzstatic.com/image/thumb/Purple128/v4/87/81/77/8781775e-5c3b-5b8b-df35-a21c0f30dd15/source/1200x630bb.jpg">
    <h1>My Gaming portfolio</h1>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#About">About</a></li>
      <li><a href="#Alien">Games</a></li>
    </ul>
  </header>
  <p id='menuBar'>hello</p>
</body>
<script>
  document.getElementById("demo").innerHTML = "Hello World!";
</script>
